@font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_800.woff") format("woff");
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_600.woff") format("woff");
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_400.woff") format("woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_200.woff") format("woff");
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_100.woff") format("woff");
    font-weight: 100;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html, body,
  [type='text'], [type='email'], [type='password'],
  textarea, .button, button {
    font-family: IRANSans-web, Tahoma, Arial;
  }
  
  body {
    background-image: url(/img/background.7434d534.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    min-width: 290px;
    font-size: 14px;
    direction: rtl;
    color: #2b2b28;
    text-align: right;
  }
  a{
    color: #2b2b28;
  }
  a:hover{
    text-decoration: none;
    color: #2b2b28;
  }
  button:focus {
    outline: none;
  }
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none;
}
.parent {
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-btn {
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #ffc107;
  color: var(--light);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 6px 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.back-btn i{
  vertical-align: middle;
}
.btn-warning {
  color: #2b2b28;
  background-color: #ffc107;
  border-color: #ffc107;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:focus, .btn-warning.focus {
  color: #2b2b28;
  background-color: #ffc107;
  border-color: #ffc107;
  box-shadow: none;
}
.shakeTop-enter-active {
	-webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.fadeIn-enter-active {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}