@font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_800.woff") format("woff");
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_600.woff") format("woff");
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_400.woff") format("woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_200.woff") format("woff");
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_100.woff") format("woff");
    font-weight: 100;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html, body,
  [type='text'], [type='email'], [type='password'],
  textarea, .button, button {
    font-family: IRANSans-web, Tahoma, Arial;
  }
  
  body {
    background-image: url(/img/background.7434d534.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    min-width: 290px;
    font-size: 14px;
    direction: rtl;
    color: #2b2b28;
    text-align: right;
  }
  a{
    color: #2b2b28;
  }
  a:hover{
    text-decoration: none;
    color: #2b2b28;
  }
  button:focus {
    outline: none;
  }
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none;
}
.parent {
  position: relative;
  height: calc(100vh - 161.13px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-btn {
  position: absolute;
  top: 9px;
  left: 10px;
  background-color: #ffcc31;
  color: var(--light);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 6px 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.back-btn i{
  vertical-align: middle;
}
.btn-warning {
  color: #2b2b28;
  background-color: #ffc107;
  border-color: #ffc107;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:focus, .btn-warning.focus {
  color: #2b2b28;
  background-color: #ffc107;
  border-color: #ffc107;
  box-shadow: none;
}
.btnBoxParrent {
  padding: 15px;
  background-color: #ffffffcc;
  border-radius: 4px;
  box-shadow: 0 3px 10px #cccccc;
  text-align: center;
  max-width: 500px;
}
.shakeTop-enter-active {
	-webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.fadeIn-enter-active {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
.exitBtnaAnimate {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
      display: none;
  }

  to {
      opacity: 1;
      display: block;
  }
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: block;
  }
}
@media (min-width: 992px) {
  .back-btn {
      display: none;
  }
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login100 {
  width: 390px;
}

/*------------------------------------------------------------------
[ Form ]*/

input {
  outline: none;
  border: none;
}

.login100-form {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #ffd76a;
}

.input100 {
  font-size: 14px;
  color: #2b2b28;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #fbb901;
}

.focus-input100::after {
  font-size: 14px;
  color: #2b2b28;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus+.focus-input100::after {
  top: -18px;
  font-size: 14px;
}

.input100:focus+.focus-input100::before {
  width: 100%;
}

.has-val.input100+.focus-input100::after {
  top: -18px;
  font-size: 14px;
}

.has-val.input100+.focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #dc3545;
  border-radius: 2px;
  padding: 4px 10px 4px 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  pointer-events: none;
  color: #dc3545;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  color: #dc3545;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
      visibility: visible;
      opacity: 1;
  }
}