@font-face {
  font-family: "IRANSans-web";
  src: url("../fonts/IRANSansWeb_800.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../fonts/IRANSansWeb_600.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../fonts/IRANSansWeb_400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../fonts/IRANSansWeb_200.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../fonts/IRANSansWeb_100.woff") format("woff");
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

.animate-box {
  opacity: 0;
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #fab700;
  color: #fff;
}

::selection {
  background-color: #fab700;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #bebebe;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bebebe;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bebebe;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bebebe;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bebebe;
  font-weight: 300;
}

html,
body,
[type="text"],
[type="email"],
[type="password"],
textarea,
.button,
button {
  font-family: "IRANSans-web", sans-serif;
}

body {
  line-height: 25px;
  font-size: 16px;
  font-family: "IRANSans-web", sans-serif;
  font-weight: 400;
  color: #002347;
  direction: rtl;
  text-align: right;
}

/*---------------------------------------------*/

a {
  font-size: 14px;
  line-height: 1.7;
  color: #002347;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fdc632;
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #002347;
  margin: 0px;
}

/*////////////////////////////////////////////////////////////////// [ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}

.wrap-login100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/*================================================================== [ Title form ]*/

.login100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 15px 74px 15px;
}

.login100-form-title-1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.login100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 84, 99, 0.5);
}

@media (max-width: 576px) {
  .container-login100 {
    padding: 0;
  }
}

.container {
  padding: 15px;
}

@media (min-width: 577px) {
  .container {
    padding: 50px;
  }
}

/*********************************************/

.click {
  -webkit-transition: transform 0.1s;
  -ms-transform: transform 0.1s;
  -moz-transform: transform 0.1s;
  transition: transform 0.1s;
}

.click:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}

.btn.disabled,
.btn:disabled {
  background-color: #adadad !important;
}

/***********************************************/

.lesson-list {
  padding: 50px 15px;
}

.lesson-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lesson-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}

.lesson-list .text h2 {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  margin-right: 5px;
}

.lesson-list .text span {
  font-size: 20px;
  color: #adadad;
  width: 25px;
  display: inline-block;
  text-align: center;
}

.lesson-list .link a {
  background-color: #002347;
  color: #fdc632;
  border-radius: 50%;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: 5px;
}
/**********************************************/
.buy-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buy-box-child {
  padding: 10px 20px;
  margin: 15px 0;
}

.buy-box-child h5 {
  font-size: 14px;
}

.modal-header {
  background-color: #ffce3c;
}

.modal-title {
  font-size: 18px;
}

.modal-body h4 {
  font-size: 16px;
}
