.container-login100 {
  height: 100%;
}

.train-return {
  font-size: 20px;
  color: #616c79;
  position: absolute;
  left: 30px;
  top: 55px;
}

.background {
  padding: 15px;
  background-color: #fdfdfd;
  border-radius: 10px;
  text-align: center;
}

.play {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 25px auto;
  border: none;
  border-radius: 50%;
  background: #007bff;
  color: #f8f9fa;
  width: 60px;
  height: 60px;
}

.play:hover {
  color: #f8f9fa;
  box-shadow: 0 0 5px #00000066;
}

.play i {
  font-size: 22px;
}

/*.play:after {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  content: "";
  border: 1px solid #007bff;
  z-index: -1;
  border-radius: 50%;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}*/

/*.play:hover:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: #0062cc;
  background: #00000033;
}*/

.true {
  padding: 8px 16px;
  background-color: #28a745;
  margin: 10px 10px 0;
  color: #ffffff;
}

.true img,
.false img {
  max-width: 22px;
  height: auto;
}

.false {
  padding: 8px 16px;
  background-color: #dc3545;
  margin: 10px 10px 0;
  color: #ffffff;
}

.true:active,
.true:focus,
.true:hover,
.false:active,
.false:focus,
.false:hover {
  color: #ffffff;
}

/************************************** */

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 1px 10px 0 #00000026;
}

.isFlipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fdfdfd;
}

.flip-card-front p,
.flip-card-back p {
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
  margin: 0 0 15px;
}

.flip-card-front h3,
.flip-card-back h3 {
  margin-bottom: 15px;
  font-size: 26px;
  line-height: 50px;
  font-weight: 600;
}

.flip-card-front .continue {
  min-width: 140px;
}

.flip-card-back {
  background-color: #f8f9fa;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-image: url(../image/hero-overlay.png);
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/******************************************************/

.modal-header {
  background-color: #ffce3c;
}

.modal-title {
  font-size: 18px;
}

.modal-body h4 {
  font-size: 16px;
}

.modal-footer .lessons {
  display: inline-block;
  background: #fdc632;
  padding: 0px 30px;
  color: #002347;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  border-radius: 5px;
  outline: none !important;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.modal-footer .lessons:hover {
  background: #002347;
  color: #fdc632;
}

.modal-footer .trains {
  display: inline-block;
  background: #002347;
  padding: 0px 30px;
  color: #fdc632;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none !important;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.modal-footer .trains:hover {
  background: transparent;
  color: #002347;
  border: 1px solid #002347;
}
@media (min-width: 576px) {
  .container-login100 {
    min-height: 100vh;
  }

  .wrap-login100 {
    border-radius: 10px;
  }
}
