{% extends "layout.html" %}
{% block title %}آشنایی{% endblock %}
{% block style %}
<style>
.pages {
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.pages .page img {
  width: 100%;
  height: auto;
  max-width: 400px;
  display: block;
  margin: 20px auto;
}

.pages .page h2 {
  font-size: 24px;
  margin: 20px;
  font-weight: 600;
}

.pages .page p {
  font-size: 14px;
  line-height: 30px;
  margin: 20px;
  font-weight: 400;
}

.pages .page .control {
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

.pages .page .control li {
  width: 12px;
  height: 12px;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin: 5px;
}

.pages .page .control li.active {
  width: 24px;
  background-color: #002347;
  border-radius: 10px;
}
@media (min-width: 576px) {
  .pages {
    border-radius: 10px;
  }
  .container-login100 {
    min-height: 100vh;
  }

  .wrap-login100 {
    border-radius: 10px;
  }
}
</style>
{% endblock %}
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 animate-box" data-animate-effect="fadeIn">
                <div class="pages">
                    <div class="page">
                        <img class="animate-box" data-animate-effect="fadeIn" src="../static/image/book_lover.png" alt="image-book-lover">
                        <h2 class="animate-box" data-animate-effect="fadeIn">مطالعه</h2>
                        <p class="animate-box" data-animate-effect="fadeIn">با استفاده از این اپلیکیشن میتوانید دایره‌ی لغات عربی خود را ارتقا داده و پیشرفت کنید.</p>
                        <ul class="control animate-box" data-animate-effect="fadeIn">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <button class="primary-btn2 mb-3 next animate-box" data-animate-effect="fadeIn">بعدی</button>
                    </div>
                    <div class="page d-none">
                        <img class="animate-box" data-animate-effect="fadeIn" src="../static/image/success.png" alt="image-success">
                        <h2 class="animate-box" data-animate-effect="fadeIn">موفقیت</h2>
                        <p class="animate-box" data-animate-effect="fadeIn">و‌ در نهایت با چندین بار پرسش و پاسخ از خودتان میتوانید حس یادگیری بهتر را تجربه کنید.</p>
                        <ul class="control animate-box" data-animate-effect="fadeIn">
                            <li></li>
                            <li class="active"></li>
                            <li></li>
                        </ul>
                        <button class="primary-btn2 mb-3 next animate-box" data-animate-effect="fadeIn">بعدی</button>
                    </div>
                    <div class="page d-none">
                        <img class="animate-box" data-animate-effect="fadeIn" src="../static/image/question.png" alt="image-question">
                        <h2 class="animate-box" data-animate-effect="fadeIn">راهنمای استفاده از اپلیکیشن</h2>
                        <p class="animate-box" data-animate-effect="fadeIn">جهت استفاده راحت تر از این برنامه راهنمای استفاده را مطالعه کنید.</p>
                        <ul class="control animate-box" data-animate-effect="fadeIn">
                            <li></li>
                            <li></li>
                            <li class="active"></li>
                        </ul>
                        <a class="primary-btn2 mb-3 animate-box" href="/register" data-animate-effect="fadeIn">ورود</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
  <script>
      $(function() {
          $(".next").click(function() {
              $(this).parent().addClass("d-none");
              $(this).parent().next().removeClass("d-none");
          })
      })
  </script>
{% endblock %}