{% extends "layout.html" %}
{% block title %}پایه ها{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="../static/css/grads.css">{% endblock %}
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 animate-box" data-animate-effect="fadeIn">
                <div class="login100-form-title" style="background-image: url(../static/image/bg-03.jpg);">
                    <span class="login100-form-title-1">پایه ها</span>
                </div>
                <div class="container">
                    <div class="row">
                        {% if all_courses %}
                        {% for grad in all_courses %}
                            <div class="col-6 col-md-4 animate-box" data-animate-effect="fadeIn">
                                <a class="btn d-block mx-auto {% if grad.has_content != 'True' %}disabled{% endif %}" href="/grade/{{grad.id}}">
                                    <div class="grad-box click">
                                        <div class="img">
                                            <img src="../static/image/{{ grad.image }}" alt="{{ grad.image }}">
                                        </div>
                                        <h2>{{ grad.title }}</h2>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}<script src="../static/js/login.js"></script>{% endblock %}