{% extends "layout.html" %}
{% block title %}خانه{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="../static/css/home.min.css">{% endblock %}
{% block content %}
<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_content text-center">
                        <h2 class="mb-3">
                            مرکز هوشمند سازی آموزش های رسانه ای
                        </h2>
                        <p>در روزگار کنونی اینترنت یک منبع آموزش قوی در رسانه ها آموزشی و به شکل کلی قادر به ارزیابی، مطابقت و اصلاح است که با استفاده از کامپیوتر برای تمام اشخاص در هر نقطه از جهان در هر زمان است.</p>
                        <div>
                            <a href="/login" class="primary-btn mb-3 mb-sm-0">ورود</a>
                            <a href="/grades" class="primary-btn2 ml-sm-3 ml-0">مشاهده پایه ها</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->
{% endblock %}