{% extends "layout.html" %}
{% block title %}راهنما نصب{% endblock %}
{% block style %}<link rel="stylesheet" href="../static/css/install-guids.css">{% endblock %}
{% block content %}
<!--================ Start Home Banner Area =================-->
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 animate-box" data-animate-effect="fadeIn">
                <div class="login100-form-title" style="background-image: url(../static/image/bg-01.jpg);">
                    <span class="login100-form-title-1">راهنما نصب</span>
                </div>
                <div class="appInstallContent">
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="btn btn-link m-2 scroll" href="#IOS">IOS</a>
                        <a class="btn btn-link m-2 scroll" href="#Android">Android</a>
                        <a class="btn btn-link m-2 scroll" href="#Windows">Windows</a>
                        <a class="btn btn-link m-2 scroll" href="#Mac">Mac</a>
                    </div>
                    <div class="pb-3 pb-md-0">
                        <div class="row">
                            <div id="IOS" class="col-12 col-lg-6 animate-box" data-animate-effect="fadeIn">
                                <div class="appInstallContex">
                                    <div><img src="../static/image/ios.png" alt="ios-logo"></div>
                                    <div class="installtext">
                                        <h4>راهنمای نصب برای IOS</h4>
                                        <p>۱ - در نوار پایین دکمه <img class="appInstallIOSImg" src="../static/image/share.png" alt="IOS-Action-(Share)-icon"> <span>" Share "</span> را انتخاب کنید.</p>
                                        <p>۲ - سپس منو باز شده را به چپ بکشید و گزینه <img class="appInstallIOSImg" src="../static/image/Add.png" alt="IOS-Add-icon"> <span>" Add to home screen "</span> را انتخاب کنید.</p>
                                        <p>۳ - در مرحله بعد در قسمت بالا روی <span>" Add "</span> کلیک کنید.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="Android" class="col-12 col-lg-6 animate-box" data-animate-effect="fadeIn">
                                <div class="appInstallContex">
                                    <div><img src="../static/image/Android.png" alt="Android-logo"></div>
                                    <div class="installtext">
                                        <h4>راهنمای نصب برای Android</h4>
                                        <p>۱ - برای نصب برنامه روی دکمه <i class='far fa-ellipsis-v' style='font-size:18px;vertical-align: middle;'></i> در قسمت بالا سمت راست مرورگر کلیک کنید.</p>
                                        <p>۲ - از درون پنجره باز شده بر روی دکمه <span>" Add To Home Screen "</span> کلیک کنید.</p>
                                        <p>۳ - از درون پنجره باز شده بر روی دکمه <span>" Add "</span> کلیک کنید.</p>
                                        <p>۴ - برنامه به صورت خودکار به صفحه اصلی موبایل شما اضافه می شود.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="Windows" class="col-12 col-lg-6 animate-box" data-animate-effect="fadeIn">
                                <div class="appInstallContex">
                                    <div><img src="../static/image/Windows.png" alt="Windows-logo"></div>
                                    <div class="installtext">
                                        <h4>راهنمای نصب برای Windows</h4>
                                        <p>۱ - برای نصب برنامه روی دکمه <i class='far fa-ellipsis-v' style='font-size:18px;vertical-align: middle;'></i> در قسمت بالا سمت راست مرورگر کلیک کنید.</p>
                                        <p>۲ - از درون پنجره باز شده بر روی دکمه <span>" Install مرکز هوشمند سازی آموزش های دیجیتال "</span> کلیک کنید.</p>
                                        <p>همچنین می توانید با زدن دکمه <i class='fal fa-plus-circle' style='font-size:18px;vertical-align: middle;'></i> در قسمت ادرس سایت این کار را انجام دهید.</p>
                                        <p>۳ - از درون پنجره باز شده بر روی دکمه <span>" Install "</span> کلیک کنید.</p>
                                        <p>۴ - برنامه به صورت خودکار به دسکتاپ شما اضافه می شود.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="Mac" class="col-12 col-lg-6 animate-box" data-animate-effect="fadeIn">
                                <div class="appInstallContex">
                                    <div><img src="../static/image/apple.png" alt="Mac-logo"></div>
                                    <div class="installtext">
                                        <h4>راهنمای نصب برای MAC</h4>
                                        <p>۱ - برای نصب برنامه روی دکمه <i class='far fa-ellipsis-v' style='font-size:18px;vertical-align: middle;'></i> در قسمت بالا سمت راست مرورگر کلیک کنید.</p>
                                        <p>۲ - از درون پنجره باز شده بر روی دکمه <span>" Install مرکز هوشمند سازی آموزش های دیجیتال "</span> کلیک کنید.</p>
                                        <p>همچنین می توانید با زدن دکمه <i class='fal fa-plus-circle' style='font-size:18px;vertical-align: middle;'></i> در قسمت ادرس سایت این کار را انجام دهید.</p>
                                        <p>۳ - از درون پنجره باز شده بر روی دکمه <span>" Install "</span> کلیک کنید.</p>
                                        <p>۴ - برنامه به صورت خودکار به دسکتاپ شما اضافه می شود.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/login" class="primary-btn">متوجه شدم</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="../static/js/login.js"></script>
    <script>
        $(".scroll").on("click", function(e) {
            e.preventDefault();
            $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top
                },
                1500
            );
        });
    </script>
{% endblock %}