<!DOCTYPE html>
<html lang="fa-ir">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../static/image/amar.ico">
    <!-- Author Meta -->
    <meta name="author" content="soheil abdollahi">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>مهار - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/layout.min.css">
    {% block style %}{% endblock %}
</head>

<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area ltr-dir">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img src="../static/image/mahar-logo.png" alt="mahar-logo" title="مهار" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto flex-lg-row-reverse">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">خانه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">ورود</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">ثبت نام</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/guids">راهنما</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/install-guids">آموزش نصب اپلیکیشن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">خروج</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================ start alert Area =================-->
    {#{% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="flash">
            <div class="alert alert-{{ category }}" role="alert">{{ message|safe }}</div>
        </div>
    {% endfor %}#}
    <!--================ End alert Area =================-->
    <!--================ Start Content =================-->
    {% block content %}{% endblock %}
    <!--================ End Content =================-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/main.min.js"></script>
    {% block script %}{% endblock %}
</body>

</html>