<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if new_question == 'True' %}
    <button ><a href="/new-questions/{{lesson_id}}/-1">سوال جدید</a></button><br>
    {% endif %}
    {% if previous_questions == 'True' %}
    <button ><a href="/continue-questions/{{lesson_id}}">ادامه سوال های قبلی</a></button><br>
    {% endif %}
    {% if wrong_questions == 'True' %}
    <button ><a href="/wrong-questions/{{lesson_id}}/-1">سوال غلط</a></button><br>
    {% endif %}
</body>
</html>