{% extends "layout.html" %}
{% block title %}تمرین ها{% endblock %}
{% block style %}
<style>
.grad-box {
  text-align: center;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  background: #f9f9f9;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.grad-box:hover {
  box-shadow: 0px 5px 10px rgba(0, 35, 71, 0.2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.grad-box .img {
  position: relative;
  display: block;
  z-index: 2;
}

.grad-box .img:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-80%, -50%);
  -ms-transform: translate(-80%, -50%);
  transform: translate(-80%, -50%);
  left: 0px;
  right: 10%;
  width: 30px;
  height: 30px;
  background: #fee2b3;
  border-radius: 50%;
  z-index: -1;
}

.grad-box .img img {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.grad-box h2 {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  margin: 10px 0 0;
}
@media (min-width: 577px) {
  .grad-box {
    margin: 20px 0px;
  }
}
</style>
{% endblock %}
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 animate-box" data-animate-effect="fadeIn">
                <div class="login100-form-title with-return-btn" style="background-image: url(../static/image/bg-06.jpg);">
                    <span class="login100-form-title-1 mr-auto">نوع تمرین</span>
                    <a class="return" href="/grade/{{ grade_id }}"><i class="fas fa-arrow-left"></i></a>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4 animate-box" data-animate-effect="fadeIn">
                            <a class="btn d-block mx-auto p-0 {% if new_question != 'True' %}disabled{% endif %}" href="/new-questions/{{lesson_id}}/-1">
                                <div class="grad-box click">
                                    <div class="img">
                                        <img src="../static/image/play-button.png" alt="play-button">
                                    </div>
                                    <h2>تمرین جدید</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-4 animate-box" data-animate-effect="fadeIn">
                            <a class="btn d-block mx-auto p-0 {% if previous_questions != 'True' %}disabled{% endif %}" href="/continue-questions/{{lesson_id}}">
                                <div class="grad-box click">
                                    <div class="img">
                                        <img src="../static/image/Pause-button.png" alt="Pause-button">
                                    </div>
                                    <h2>ادامه تمرین گذشته</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-4 animate-box" data-animate-effect="fadeIn">
                            <a class="btn d-block mx-auto p-0 {% if wrong_questions != 'True' %}disabled{% endif %}" href="/wrong-questions/{{lesson_id}}/-1">
                                <div class="grad-box click">
                                    <div class="img">
                                        <img src="../static/image/refresh-button.png" alt="refresh-button">
                                    </div>
                                    <h2>مرور اشتباهات</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}