{% extends "layout.html" %}
{% block title %}تمرین{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/train.min.css">
{% endblock %}
{% block content %}
    <div class="limiter vh-100" data-questionId="{{question_id}}" data-lessonId="{{lesson_id}}" data-pageName="{{page_name}}" data-gradeId="{{grade_id}}">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front background">
                            <button class="btn play click" data-voice="{{ voice }}"><i class="fas fa-volume"></i></button>
                            <a class="train-return" href="#"><i class="fas fa-arrow-left"></i></a>
                            <p>آیا معنی کلمه زیر را به خاطر دارید؟</p>
                            <h3>" {{ question }} "</h3>
                            <button class="btn click continue d-block mx-auto btn-warning">ادامه</button>
                        </div>
                        <div class="flip-card-back background">
                            <div>
                                <h3 class="h4">" {{ answer }} "</h3>
                                <p>معنی کلمه را بلد بودید؟</p>
                                <button data-value="0" class="btn select click shadow true">بله<span>&#128512;</span></button>
                                <button data-value="1" class="btn select click shadow false">خیر<span>&#128529;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h5 class="modal-title ml-auto" id="ModalLabel">شما به پایان تمرین درس انتخابی رسیدید</h5>
                            </div>
                            <div class="modal-body">
                                <h4 class="my-4 text-center"> تعداد جواب های درست : <span id="right-answer">۲۳</span></h4>
                                <h4 class="my-4 text-center">تعداد جواب های اشتباه : <span id="wrong-answer">۲</span></h4>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <a class="btn m-2 lessons" href="#">انتخاب درس</a>
                                <a class="btn trains btn-secondary m-2" href="#">انتخاب تمرین</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="d-none next-test"><span>next</span></a>
{% endblock %}
{% block script %}
    <script>
        $(function() {
            let questionId = $('.limiter').attr("data-questionId")
            let gradeId = $('.limiter').attr("data-gradeId")
            let lessonId = $('.limiter').attr("data-lessonId")
            let pageName = $('.limiter').attr("data-pageName")
            $(".continue").click(function() {
                $(".flip-card-inner").addClass("isFlipped");
            })
            $(".select").click(function() {
                let answerId = $(this).data("value")
                $.ajax({
                    type: "POST",
                    url: "/ajax-set-user-answer",
                    data: {
                        ans_no :answerId,
                        question_id:questionId,
                        lesson_id:lessonId,
                        question_type:pageName,
                    },
                    success: function(response) {
                        let status = response.has_next_new_question.toLowerCase()
                        let url = response.return_url
                        if(status == 'true'){
                            $(".next-test").attr('href',url)
                            $('.next-test span').trigger('click');
                        }else{
                            $("#right-answer").text(response.true_answer_no);
                            $("#wrong-answer").text(response.wrong_answer_no);
                            $(".modal").modal("show");
                        }
                    }
                });
            })
            $(".play").click(function() {
                let voice = $(this).attr("data-voice")
                var audio = new Audio(`/static/${voice}`);
                audio.play();
            })

            let trainUrl = '/grade/' + gradeId
            $(".lessons").attr('href',trainUrl)

            let lessonUrl = '/lesson/' + lessonId
            $(".trains").attr('href',lessonUrl)
            $(".train-return").attr('href',lessonUrl)
        })
    </script>
{% endblock %}