{% extends "layout.html" %}
{% block title %}تمرین{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="../static/css/train.css">{% endblock %}
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front background">
                            <button class="btn play click" data-voice="{{ voice }}"><i class="fas fa-volume"></i></button>
                            <p>آیا معنی کلمه زیر را به خاطر دارید؟</p>
                            <h3>" {{ question }} "</h3>
                            <button class="btn click continue d-block mx-auto btn-warning">ادامه</button>
                        </div>
                        <div class="flip-card-back background">
                            <div>
                                <h3 class="h4">" {{ answer }} "</h3>
                                <p>معنی کلمه را بلد بودید؟</p>
                                <button data-value="1" class="btn select click shadow true">بله<span>&#128512;</span></button>
                                <button data-value="0" class="btn select click shadow false">خیر<span>&#128529;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary Launch">Launch demo modal</button>
                <!-- Modal -->
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h5 class="modal-title ml-auto" id="ModalLabel">شما به پایان تمرین درس انتخابی رسیدید</h5>
                            </div>
                            <div class="modal-body">
                                <h4 class="my-4 text-center"> تعداد جواب های درست : <span>۲۳</span></h4>
                                <h4 class="my-4 text-center">تعداد جواب های اشتباه : <span>۲</span></h4>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <a class="btn m-2" href="'/Lessons/' + gradId">انتخاب درس</a>
                                <button class="btn btn-secondary m-2">مرور اشتباهات</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function() {
            $(".continue").click(function() {
                $(".flip-card-inner").addClass("isFlipped");
            })
            $(".select").click(function() {
                let type = $(this).data("value")
                $(".flip-card-inner").removeClass("isFlipped");
                console.log(type)
                    //$.ajax({
                    //    type: "POST",
                    //    url: "/ajax-set-like",
                    //    data: {
                    //        answer_id: type
                    //    },
                    //    success: function(response) {
                    //        alert(response);
                    //        $(".flip-card-inner").removeClass("isFlipped");
                    //    }
                    //});
            })
            $(".play").click(function() {
                let voice = $(this).attr("data-voice")
                var audio = new Audio(`../static/${voice}`);
                audio.play();
            })
            $(".Launch").click(function() {
                $(".modal").modal("show");
            })
        })
    </script>
{% endblock %}